### 캐글 데이터 분석 
 * 대회 URL : https://www.kaggle.com/c/learnplatform-covid19-impact-on-digital-learning/overview
 * 평가 : https://www.kaggle.com/c/learnplatform-covid19-impact-on-digital-learning/overview/evaluation
   * 명확성(Clarity)(5점) 
   * 정확도(5점)
   * 창의성(5점)
   
 * Timeline : 
    * 2021/09/30 : 마지막 제출
    * 2021/10/28 : 수상자 발표

* 참고 노트북 : https://www.kaggle.com/iamleonie/gentle-introduction-to-the-dataset

In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

### 데이터 불러오기

In [9]:
path = os.getcwd()
print(path)

C:\Users\toto\Documents\Github\KaggleDataAnalysis\kaggle_1

In [8]:
districts_info = pd.read_csv("../../data/learnplatform-covid19-impact/districts_info.csv")
products_info = pd.read_csv("../../data/learnplatform-covid19-impact/products_info.csv")

districts_info.shape, products_info.shape

((233, 7), (372, 6))

* districts_info : 각 학군에 대한 정보
* products_info : 디지털 학습에 사용되는 상위 370개 도구에 대한 정보 포함.

In [12]:
# engagement_data 폴더의 파일 확인
os.listdir("../../data/learnplatform-covid19-impact/engagement_data")

['1000.csv',
 '1039.csv',
 '1044.csv',
 '1052.csv',
 '1131.csv',
 '1142.csv',
 '1179.csv',
 '1204.csv',
 '1270.csv',
 '1324.csv',
 '1444.csv',
 '1450.csv',
 '1470.csv',
 '1536.csv',
 '1549.csv',
 '1558.csv',
 '1570.csv',
 '1584.csv',
 '1624.csv',
 '1705.csv',
 '1712.csv',
 '1742.csv',
 '1772.csv',
 '1791.csv',
 '1857.csv',
 '1877.csv',
 '1904.csv',
 '1965.csv',
 '2017.csv',
 '2060.csv',
 '2074.csv',
 '2106.csv',
 '2130.csv',
 '2165.csv',
 '2167.csv',
 '2172.csv',
 '2201.csv',
 '2209.csv',
 '2238.csv',
 '2257.csv',
 '2285.csv',
 '2321.csv',
 '2339.csv',
 '2393.csv',
 '2439.csv',
 '2441.csv',
 '2517.csv',
 '2549.csv',
 '2567.csv',
 '2598.csv',
 '2601.csv',
 '2685.csv',
 '2729.csv',
 '2779.csv',
 '2870.csv',
 '2872.csv',
 '2940.csv',
 '2956.csv',
 '2991.csv',
 '3080.csv',
 '3160.csv',
 '3188.csv',
 '3222.csv',
 '3228.csv',
 '3248.csv',
 '3266.csv',
 '3301.csv',
 '3314.csv',
 '3322.csv',
 '3371.csv',
 '3390.csv',
 '3393.csv',
 '3412.csv',
 '3471.csv',
 '3550.csv',
 '3558.csv',
 '3580.csv',
 '3640.csv',
 '3668.csv',
 '3670.csv',
 '3692.csv',
 '3710.csv',
 '3732.csv',
 '3772.csv',
 '3864.csv',
 '3936.csv',
 '3959.csv',
 '3986.csv',
 '4029.csv',
 '4031.csv',
 '4051.csv',
 '4083.csv',
 '4165.csv',
 '4183.csv',
 '4203.csv',
 '4314.csv',
 '4348.csv',
 '4373.csv',
 '4408.csv',
 '4516.csv',
 '4520.csv',
 '4550.csv',
 '4569.csv',
 '4591.csv',
 '4602.csv',
 '4629.csv',
 '4666.csv',
 '4668.csv',
 '4683.csv',
 '4744.csv',
 '4749.csv',
 '4775.csv',
 '4808.csv',
 '4921.csv',
 '4929.csv',
 '4936.csv',
 '4937.csv',
 '4949.csv',
 '5006.csv',
 '5042.csv',
 '5057.csv',
 '5150.csv',
 '5231.csv',
 '5257.csv',
 '5380.csv',
 '5404.csv',
 '5422.csv',
 '5479.csv',
 '5510.csv',
 '5524.csv',
 '5527.csv',
 '5600.csv',
 '5604.csv',
 '5627.csv',
 '5802.csv',
 '5882.csv',
 '5890.csv',
 '5903.csv',
 '5934.csv',
 '5970.csv',
 '5987.csv',
 '6046.csv',
 '6049.csv',
 '6055.csv',
 '6066.csv',
 '6104.csv',
 '6131.csv',
 '6144.csv',
 '6165.csv',
 '6194.csv',
 '6250.csv',
 '6345.csv',
 '6418.csv',
 '6512.csv',
 '6577.csv',
 '6584.csv',
 '6640.csv',
 '6665.csv',
 '6721.csv',
 '6762.csv',
 '6774.csv',
 '6919.csv',
 '6998.csv',
 '7086.csv',
 '7164.csv',
 '7177.csv',
 '7305.csv',
 '7308.csv',
 '7342.csv',
 '7352.csv',
 '7387.csv',
 '7457.csv',
 '7541.csv',
 '7614.csv',
 '7660.csv',
 '7675.csv',
 '7723.csv',
 '7741.csv',
 '7752.csv',
 '7767.csv',
 '7785.csv',
 '7798.csv',
 '7829.csv',
 '7858.csv',
 '7964.csv',
 '7970.csv',
 '7975.csv',
 '7980.csv',
 '8017.csv',
 '8076.csv',
 '8103.csv',
 '8127.csv',
 '8160.csv',
 '8184.csv',
 '8256.csv',
 '8328.csv',
 '8425.csv',
 '8433.csv',
 '8515.csv',
 '8520.csv',
 '8539.csv',
 '8556.csv',
 '8685.csv',
 '8702.csv',
 '8723.csv',
 '8748.csv',
 '8784.csv',
 '8796.csv',
 '8815.csv',
 '8845.csv',
 '8884.csv',
 '8902.csv',
 '8937.csv',
 '9007.csv',
 '9043.csv',
 '9120.csv',
 '9140.csv',
 '9230.csv',
 '9303.csv',
 '9357.csv',
 '9463.csv',
 '9478.csv',
 '9515.csv',
 '9536.csv',
 '9537.csv',
 '9553.csv',
 '9589.csv',
 '9729.csv',
 '9778.csv',
 '9812.csv',
 '9839.csv',
 '9899.csv',
 '9927.csv']

### 학군 정보

In [15]:
districts_info.head()

,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw
0,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000["
1,2685,NaN,NaN,NaN,NaN,NaN,NaN
2,4921,Utah,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[6000, 8000["
3,3188,NaN,NaN,NaN,NaN,NaN,NaN
4,2238,NaN,NaN,NaN,NaN,NaN,NaN

### 370개의 학습 도구

In [14]:
products_info.head()

,LP ID,URL,Product Name,Provider/Company Name,Sector(s),Primary Essential Function
0,13117,https://www.splashmath.com,SplashLearn,StudyPad Inc.,PreK-12,LC - Digital Learning Platforms
1,66933,https://abcmouse.com,ABCmouse.com,"Age of Learning, Inc",PreK-12,LC - Digital Learning Platforms
2,50479,https://www.abcya.com,ABCya!,"ABCya.com, LLC",PreK-12,"LC - Sites, Resources & Reference - Games & Si..."
3,92993,http://www.aleks.com/,ALEKS,McGraw-Hill PreK-12,PreK-12; Higher Ed,LC - Digital Learning Platforms
4,73104,https://www.achieve3000.com/,Achieve3000,Achieve3000,PreK-12,LC - Digital Learning Platforms

In [16]:
# engagement_data 폴더의 파일 확인
list1 = os.listdir("../../data/learnplatform-covid19-impact/engagement_data")
list1[0:10]

['1000.csv',
 '1039.csv',
 '1044.csv',
 '1052.csv',
 '1131.csv',
 '1142.csv',
 '1179.csv',
 '1204.csv',
 '1270.csv',
 '1324.csv']

* 폴더 안의 파일명은 [district_id].csv이 됩니다.

In [17]:
dis_info_1000 = pd.read_csv("../../data/learnplatform-covid19-impact/engagement_data/1000.csv")
dis_info_1000.head()

         time    lp_id  pct_access  engagement_index
0  2020-01-01  93690.0        0.00               NaN
1  2020-01-01  17941.0        0.03              0.90
2  2020-01-01  65358.0        0.03              1.20
3  2020-01-01  98265.0        0.57             37.79
4  2020-01-01  59257.0        0.00               NaN

### 위의 파일들은 district_id와 lp_id로 결합이 가능하다.

### 02 데이터 전처리

* 모든 분석 대회에서 매우 중요한 단계
* 데이터 전처리를 시작하기에 앞서, 유지 및 수정하려는 데이터와 분석과 관련이 없는 데이터 생각해 보기

### 데이터 전처리 순서
  * districts_info.csv : NaN states의 57개 학군 삭제 
  * products_info.csv : Sector(s)의 One-Hot Encode(원핫 인코딩)수행
  * products_info.csv : 'Primary Essential Function' 컬럼을 기본 및 하위 범주로 분할

<font size=3 style="color:#FF5722">Dropping Districts with NaN States</font>

In [18]:
print(districts_info.shape)
districts_info = districts_info[districts_info.state.notna()].reset_index(drop=True)
print(districts_info.shape)

(233, 7)
(176, 7)

<font size=3 style="color:#4cb28d">One-Hot Encoding the Product Sectors</font>

In [ ]:
temp_sectors = products_info['Sector(s)'].str.get_dummies(sep="; ")
temp_sectors.columns = [f"sector_{re.sub(' ', '', c)}" for c in temp_sectors.columns]
products_info = products_info.join(temp_sectors)
products_info.drop("Sector(s)", axis=1, inplace=True)

del temp_sectors